.course-forum .sidebar {
    animation: none;
}

.course-forum .home-placeholder {
    animation: none;
}

.course-forum .input-holder.search {
    animation: none;
}

.course-forum .module-list-holder.search {
    animation: none;
}

.forum {
    width: calc(95% - 260px);
    margin: 2% 1% auto auto !important;
}

.student {
    position: absolute;
    width: 797px;
    height: 420.85px;
    left: 602px;
    top: 330px;
}

.description {
    position: absolute;
    width: 451px;
    height: 108px;
    left: 116px;
    top: 520px;

    font-family: Gotham;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

.list {
    height: 10vh;
    margin: 0 auto;
    padding: 0;
}

.text {
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #616161;
    text-align: center;
    padding-top: 1.3em;
    display: inline-block;
    position: absolute;
}

.vote {
    left: 1em;
    
}
.answer {
    left: 5.5em;
}

.view {
    left: 11.5em;
}

.question {
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    left: 14em;
    padding-top: 0.8em;
    position: absolute;
}

.br { 
    display: block; 
    margin-bottom: 0.7em;
}