.course-rating-holder {
    width: calc(95% - 260px);
    margin: 1% 1% auto auto;
}

.courseTitle {
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.courseContent {
    font-size: large;
    margin-top: 2.5em;
    display: block;
    float: left;
}

.courseCoord {
}

.courseCoordinator {
    display: inline-block;
    font-weight: bold;
    font-size: large

}

.courseCoordinatorContent {
    display: inline-block;
    margin-left: 1em;
    font-size: large;
}

.courseRating {
}

.courseAverageRating {
    display: inline-block;
    float: right;
    margin-right: 0.5em;
    font-size: xx-large;
    color: #FF7A00;
}

.courseAverageRatingSymbol {
    display: inline-block;
    float: right;
    margin-right: 10em;
    width: 2em;
    height: 2em;
}

.lineDivision {
    display: block;
    margin: 5% auto auto 0;
    width: 90%;
}

.courseReviews {
    margin-top: 0.5em;
    width: 90%;
}

.courseReviewAdd {
    position: relative;
    float: right;
    background-color: #FF7A00;
    padding: 4px 12px;
    margin-top: 2.5em;
    margin-right: -3em;
    border-radius: 10px;
    cursor: pointer;
}

.courseReviewAddSection {
    background: #FFF2C8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.courseReviewAddTitle {
    width: 40%;
}

.courseReviewAddRatingInputLabel {
    margin-top: 15px;
}

.courseReviewAddRating {
}

.courseReviewAddRatingContent {
    width: 100%;
}

.courseReviewAddDescription {
    display: block;
    margin-top: 15px;
    width: 50%;
    margin-bottom: 20px;
}
