.course-forum .sidebar {
    animation: none;
}

.course-forum .home-placeholder {
    animation: none;
}

.course-forum .input-holder.search {
    animation: none;
}

.course-forum .module-list-holder.search {
    animation: none;
}