.course-forum .sidebar {
    animation: none;
}

.course-forum .home-placeholder {
    animation: none;
}

.course-forum .input-holder.search {
    animation: none;
}

.course-forum .module-list-holder.search {
    animation: none;
}

.ask-question {
    width: 160px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #FFC400;
    color: white;
    display: inline-block;
    left: 75em;
    margin-top: 2em;
    position: absolute;
}

.ask-question:hover {
    background-color: #E8B305;
    cursor: pointer;
}

.forum {
    width: calc(95% - 260px);
    margin: 7% 1% auto auto !important;
}

.student {
    position: absolute;
    width: 797px;
    height: 420.85px;
    left: 602px;
    top: 330px;
}

.description {
    position: absolute;
    width: 451px;
    height: 108px;
    left: 116px;
    top: 520px;

    font-family: Gotham;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

.list {
    height: 10vh;
    margin: 0 auto;
    padding: 0;
}

.text {
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    color: #616161;
    text-align: center;
    padding-top: 0.5em;
    display: inline-block;
    position: absolute;
}

.big {
    font-size: 18px;
}

.vote {
    left: 1em;
    
}
.answer {
    left: 5.5em;
}

.view {
    left: 11.5em;
}

.question {
    color: #000000;
    position: absolute;
    top: 0.8em;
    left: 14em;
}

.question:hover{
    color: #616161;
    cursor: pointer;
}

.br { 
    display: block; 
    margin-bottom: 0.7em;
}

.info {
    color: #848383;
    position: absolute;
    top: 3em;
    right: 2em;
}

.owner {
    color: #0943D7;
}

.owner:hover{
    color: #5786FF;
    cursor: pointer;
}

.top-question {
    position: absolute;
    left: 345px;
    top: 145px;

    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;

    color: #FF7A00;

}