.courseTitle {
    position: relative;
    top: 1.5em;
    left: 4em;
    font-size: x-large;
    font-weight: bold;
}

.courseContent {
    position: relative;
    top: 5em;
    left: 5.5em;
    font-size: large;
}

.courseCoord {
    position: relative;
    top: 2em;
    left: 6.1em;
}

.courseCoordinator {
    display: inline-block;
    font-weight: bold;
    font-size: large

}

.courseCoordinatorContent {
    display: inline-block;
    margin-left: 1em;
    font-size: large;
}

.courseRating {
    position: relative;
    top: -2.3em;
}

.courseAverageRating {
    display: inline-block;
    float: right;
    margin-right: 0.5em;
    font-size: xx-large;
    color: #FF7A00;
}

.courseAverageRatingSymbol {
    display: inline-block;
    float: right;
    margin-right: 10em;
    width: 2em;
    height: 2em;
}

.lineDivision {
    display: block;
    margin-left: 20%;
    margin-top: 4.5em;
    margin-right: 8%;
}

.courseReviews {
    margin-top: 0.5em;
    margin-left: 20%;
}

.courseReviewAdd {
    position: relative;
    float: right;
    background-color: #FF7A00;
    padding: 4px 12px;
    margin-top: 2.5em;
    margin-right: -3em;
    border-radius: 10px;
    cursor: pointer;
}

.courseReviewAddSection {
    background: #FFF2C8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.courseReviewAddTitle {
    width: 40%;
}

.courseReviewAddRatingInputLabel {
    margin-top: 15px;
}

.courseReviewAddRating {
}

.courseReviewAddRatingContent {
    width: 100%;
}

.courseReviewAddDescription {
    display: block;
    margin-top: 15px;
    width: 50%;
    margin-bottom: 20px;
}
