.course-rating-holder {
    width: calc(95% - 260px);
    margin: 1% 1% auto auto;
}

.courseTitle {
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.courseContent {
    font-size: large;
    margin-top: 2.5em;
    display: block;
    float: left;
}

.courseCoord {
}

.courseCoordinator {
    display: inline-block;
    font-weight: bold;
    font-size: large;
    padding-top: 1em;
    float: left;

}

.courseCoordinatorContent {
    display: inline-block;
    margin-left: 1em;
    font-size: large;
    padding-top: 1em;
    float: left;
}

.courseRating {
    position: relative;
    float: right;
}

.courseAverageRating {
    display: inline-block;
    margin-right: 0.5em;
    float: right;
    font-size: xx-large;
    color: #FF7A00;
}

.courseAverageRatingSymbol {
    display: inline-block;
    margin-right: 10em;
    float:right;
    width: 2em;
    height: 2em;
    margin-top: 0.3em;
}

.lineDivision {
    display: block;
    margin: 4em auto auto 0;
    width: 90%;
}

.courseReviews {
    margin-top: 0.5em;
    width: 90%;
}

.courseReviewAdd {
    float: right;
    height: 2em;
    margin-right: 1em;
    background-color: #FF7A00;
    padding: 0.4em 0.8em;
    border-radius: 10px;
    cursor: pointer;
    line-height: 2em;
}

.courseReviewAddSection {
    background: #FFF2C8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.courseReviewAddSection > p {
    color: black;
    font-size: 1.2em;
    font-weight: 700;
}

.courseReviewAddTitle {
    width: 50%;
}

.courseReviewAddRatingInputLabel {
    margin-top: 1em;
}

.courseReviewAddRating {
}

.courseReviewAddRatingContent {
    width: 100%;
}

.courseReviewAddDescription {
    display: block;
    margin-top: 1em;
    width: 50%;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .course-rating-holder {
        width: calc(90% - 2em);
    }

    .courseAverageRatingSymbol {
        margin-right: 1em;
    }

    .lineDivision {
        margin-top: 6em;
    }

    .course-rating .popup-content {
        width: 90% !important;
    }
}