.center {
    width: 100%;
    margin: 0 auto;
    text-align:center;
    font-family: Gotham;
}

.home-div {
}

#welcome-msg {
    margin-top: 5em;
    font-weight: bold;
}

#welcome-msg.search {
    display: none;
}

#title {
    margin-top: 1em;
    font-weight: normal;
}

#title.search {
    display: none;
}

.home-placeholder {
    width: 260px;
    position: fixed;
    bottom: 1em;
    left: 1em;
    margin-top: 5em !important;
}

.home-placeholder.search {
    animation: fadein 2s;
}

.home-placeholder.rating {
    width: 15%;
    height: 15%;
    position: fixed;
    bottom: 1em;
    left: 1em;
    animation: fadein 2s;
}
.module-list-holder {
    display: none;
    width: calc(90% - 260px);
}

.module-list-holder.search {
    display: block;
    animation: fadein 1s;
}

.sidebar {
    display: none;
    width: 260px;
    float: left;
}

.sidebar.search {
    display: block;
    animation: fadein 1s;
    margin: 1em 0 0 1em;
}

.sidebar.rating {
    display: block;
    animation: fadein 1s;
    margin-top: 5%;
}

@media only screen and (max-width: 600px) {
    .home-placeholder {
        display: none;
    }

    .home-placeholder.search {
        display: none;
    }

    .sidebar.search {
        width: 2em;
        margin: 2em 0 0 0.5em;
    }

    .sidebar-item-holder p {
        display: none;
    }

    .sidebar-item-holder svg {
        top: 0;
        left: 0;
    }

    .module-list-holder {
        width: calc(90% - 2em);
        margin: 2em 0 auto auto;
    }
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes slideUp {
    from { margin-top: 21em; }
    to   { margin-top: 3em; }
}