.login {
    position: absolute;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 0px;
    background: #FFF2C8;
}

.ntu {
    position: absolute;
    width: 199px;
    height: 71px;
    left: 116px;
    top: 53px;
}

.NTULearn {
    position: absolute;
    width: 542px;
    height: 122px;
    left: 116px;
    top: 208px;

    font-family: Gotham;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 115px;

    color: #000000;
}

.box {
    position: absolute;
    width: 347px;
    height: 56px;
    left: 118px;
    top: 698px;
}

.studentLogin {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 118px;
    top: 698px;
}

.adminLogin {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 160px;
    top: 698px;

}

span {
    font-family: Gotham;
}