.center {
    width: 100%;
    margin: 0 auto;
    text-align:center;
    font-family: Gotham;
}

.input-holder {
    width: 60%;
    position: relative;
    margin-top: 3em;

    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
}


.search-icon {
    position: absolute;
    height: 2em;
    width: 2em;
    left: 1em;
    top: 0.5em;
    fill: #FF7A00;
}

#course-search {
    width: 100%;
    border: 1px lightgrey solid;
    border-radius: 25px;
    padding: 1.2em 1em;
    color: #FF7A00;
}
